<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
{% load static %}
<link rel="stylesheet" href="{% static 'films/styles.css' %}">


</head>
<body>
   
    <header>
       <a href="{% url 'movie_list' %}">  <h1 style="display: inline;">Altın<span    style="color: #f1c40f;">Sinema</span></h1></a>
        
      
       <div class="search-bar">
            <input id="search-input" type="text" placeholder="Search for movies ...">
            <button id="search-button">
                <span class="material-symbols-outlined">
                search
                 </span>
            </button>
            <div id="search-results" class="search-results"></div>
       </div>
    
    
        <div class="user-menu">
            <a href="#">Login</a> | <a href="#">Sign Up</a>
        </div>
        
    </header>
    
    <nav>
        <ul>
            <li><a href="{% url 'movie_list' %}">Anasayfa</a></li>
            <li><a href="#">Film Arşivi</a></li>
            <li><a href="#">2023 Filmleri</a></li>
            <li><a href="#">2024 Filmleri</a></li>
            <li><a href="#">Diziler</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Hakkımızda</a></li>
         
        </ul>
    </nav>
  
  
   <div class="container">

  
    <section class="movie-list">
        {% for movie in sayfa_objesi %}
            <div class="movie-item">
                <a href="{% url 'movie_detail' movie.id %}">
                    <img 
                        src="{% if movie.image %}{{ movie.image.url }}{% elif movie.poster_url %}{{ movie.poster_url }}{% else %}/static/default.jpg{% endif %}" 
                        alt="{{ movie.original_title }}" 
                        class="movie-poster">

                    {% comment %} <img src="{{ movie.image.url }}" alt="{{ movie.title }}"> {% endcomment %}
                    <p id="pmovietitle">{{ movie.title }}   {{movie.original_title}}</p>
                </a>
            </div>
        {% endfor %}
    </section>
    
  
   
    <section class="kategori-sidebar">
        <h3>Kategoriler</h3>
        <div class="button-group">
            <button class="film-button">Film</button>
            <button class="dizi-button">Dizi</button>
        </div>
        <ul class="category-list">
            <li>Aile</li>
            <li>Aksiyon</li>
            <li>Animasyon</li>
            <li>Belgesel</li>
            <li>Bilim Kurgu</li>
            <li>Biyografi</li>
            <li>Dram</li>
            
            <li>Fantastik</li>
            <li>Gerilim</li>
            <li>Gizem</li>
            
            <li>Kısa Metrajlı</li>
            <li>Komedi</li>
            <li>Korku</li>
            <li>Macera</li>
            
            <li>Polisiye</li>
        </ul>
    </section>
    
  
</div>

<div class="pagination">
    {% if sayfa_objesi.has_previous %}
        <a href="?sayfa=1">İlk</a>
        <a href="?sayfa={{ sayfa_objesi.previous_page_number }}">Önceki &laquo;</a>
    {% endif %}

    {% for numara in sayfa_numaralari %}
        {% if numara == sayfa_objesi.number %}
            <span class="active">{{ numara }}</span>
        {% else %}
            <a href="?sayfa={{ numara }}">{{ numara }}</a>
        {% endif %}
    {% endfor %}

    {% if sayfa_objesi.has_next %}
        <a href="?sayfa={{ sayfa_objesi.next_page_number }}">Sonraki &raquo;</a>
        <a href="?sayfa={{ sayfa_objesi.paginator.num_pages }}">Son</a>
    {% endif %}
</div>



    <footer>
        
        <ul style="list-style-type: none;">
            
            <li ><a  href="#">Gizlilik Politikası</a></li>
            <li><a href="#">Kullanım Şartları</a></li>
            <p>&copy; 2024 Muhammet Ali Mutlu. Tüm Hakları Saklıdır.  </p>
        </ul>
    </footer>

   <script>
    const searchInput = document.getElementById('search-input');
    const searchResults = document.getElementById('search-results');
    
    searchInput.addEventListener('input', function() {
        const query = searchInput.value;
    
        if (query.length > 1) { //  search for at least 2 characters
            fetch(`/search-movies/?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    // Clear previous search results
                    searchResults.innerHTML = '';
                    const resultList = document.createElement('ul'); // Create `ul` element
    
                    if (data.filmler.length > 0) {
                        data.filmler.forEach(film => {
                            const resultItem = document.createElement('li'); // Create `li` element
                            resultItem.classList.add('search-result');
    
                            // Determines the image source (media or poster_url)
                            const imageUrl = film.image 
                                ? `/media/${film.image}` 
                                : film.poster_url;
    
                            resultItem.innerHTML = `
                                <img src="${imageUrl}" alt="${film.title}" style="width: 50px; height: 75px; vertical-align: middle;">
                                <span style="font:8px;">${film.title} (${film.release_year}) - IMDB: ${film.imdb_score}</span>
                            `;
                            resultItem.addEventListener('click', () => {
                                // Redirect to the detail page
                                window.location.href = `/movies/${film.id}/`;
                            });
                            resultList.appendChild(resultItem); // Append `li` to `ul`
                        });
                        searchResults.appendChild(resultList); // Append `ul` to `searchResults`
                    } else {
                        searchResults.innerHTML = '<div>No results found</div>';
                    }
                })
                .catch(error => console.error('Error:', error));
        } else {
            searchResults.innerHTML = ''; // Clears results if the input is empty
        }
    });
    
</script>

 
</body>
</html>
